.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* height: '100%'; */
  width: 100%;
  background: #3399ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.brand {
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.8em;
}

.text {
  color: #ffffff;
  font-size: 4rem;
  text-align: center;
}
.button {
  background: #333333;
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  margin-bottom: 0.8rem;
  height: 4rem;
}
.buttonDisabled {
  background: #ffffff;
  color: #333333;
  font-size: 1.4rem;
  text-align: center;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  margin-bottom: 0.8rem;
  height: 4rem;
}
