{
    "url" : "http://s0.b.hmny.io:9500",
    "isRawTxnSigOnly" : 0,
    "isVerbose" : 0,
    "isSequentialTxn" : 1,
    "transactions" : [
        {
            "sender" : "01F903CE0C960FF3A9E68E80FF5FFC344358D80CE1C221C3F9711AF07F83A3BD",
            "txnObjects" : {
                "nonce": 0,
                "gasPrice": "0",
                "gasLimit": "21000",
                "shardID": 0,
                "to": "0x10A02A0a6e95a676AE23e2db04BEa3D1B8b7ca2E",
                "value": "10",
                "data": "0x"
            }
        },
        {
            "sender" : "01F903CE0C960FF3A9E68E80FF5FFC344358D80CE1C221C3F9711AF07F83A3BD",
            "txnObjects" : {
                "nonce": 0,
                "gasPrice": "0",
                "gasLimit": "21000",
                "shardID": 0,
                "to": "0x10A02A0a6e95a676AE23e2db04BEa3D1B8b7ca2E",
                "value": "7",
                "data": "0x"
            }
        }
    ]
}